openapi: 3.0.3
info:
  title: Deikstra - OpenAPI 3.0
  description: |-
    "Deikstra" ir sacensību programmēšanai paredzēts testēšanas serveris. Tas paredz divu veidu iesūtījumus: ar un bez iepriekš defineta uzdevuma. 
    
    Iesūtījums bez iepriekš definēta uzdevuma satur ievaddatus, kas tiks padoti programmai, un atgriež tās izvaddatus.
    
    Iepriekš definēta uzdevuma svarīgākā komponente - loģika, kas piešķir iesūtījumam tā rezultātu.
    
    Uzdevums parasti satur testu kopu, uz kuras tiek izpildīts un pārbaudīts lietotāja sarakstītais problēmas risinājuma pirmkods.
    
    Iesūtītais lietotāja pirmkods darbojas norobežotā vidē, kas neļauj veikt kaitējumu sistēmai, uz kuras tas tiek izpildīts.
  contact:
    email: krisjanispetrucena@gmail.com
  version: 0.0.1
servers:
  - url: https://deikstra.kpetrucena.lv/api
paths:
  /tasks/list:
    get:
      summary: atgriež uzdevumu sarakstu
      tags:
        - tasks
      responses:
        '200':
          description: OK
  /tasks/{task_id}:
    get:
      summary: atgriež informāciju par uzdevumu
      tags:
        - tasks
      responses:
        '200':
          description: OK
  /tasks/create:
    post:
      summary: izveido jaunu uzdevumu
      tags:
        - tasks
      responses:
        '200':
          description: OK
  /tasks/delete/{task_id}:
    delete:
      summary: izdzēš uzdevumu
      tags:
        - tasks
      responses:
        '200':
          description: OK
  /submissions/enqueue:
    post:
      summary: izveido jaunu iesūtījumu
      tags:
        - submissions
      responses:
        '200':
          description: OK
  /submissions/list:
    get:
      summary: atgriež iesūtījumus
      tags:
        - submissions
      responses:
        '200':
          description: OK
  /submissions/{subm_id}:
    get:
      summary: atgriež iesūtījuma rezultātus
      tags:
        - submissions
      responses:
        '200':
          description: OK

tags:
  - name: tasks
    description: Uzdevumu izveide, dzēšana, saraksts.
  - name: submissions
    description: Iesūtījumu sūtīšana, rezultāti.
  - name: languages
    description: Atbalstīto prog. valodu saraksts.
  - name: execute
    description: Pirmkoda izpilde bez definēta uzdevuma.